



.top-g-icon {
    
}
















@media(min-width: 320px) {
    .top-g-icon {
        width: 60px;
        height: 60px;
    }
}
@media(min-width: 385px) {
    .top-g-icon {
        width: 70px;
        height: 70px;
    }
}
@media(min-width: 1024px) {
    .top-g-icon {
        width: 120px;
        height: 120px;
    }
}